*.mod
*.o
*.a
*.so
*.dylib
config.h.in
configure
build
*.swp
*~
build2
.DS_Store
*.app
*.zip
gh-pages
.tags*
.stdafx.c++.pch
meson-build
config.log
config.h
config.status
*.pc
gtkmm-plplot.spec
libtool
.gitignore
Makefile
stamp-h1
tests/.deps
docs/Doxyfile
docs/html
*.lo
*.la
docs/doxyfile.stamp
tests/.libs
tests/test[0-9]*
gtkmm-plplot/.deps
gtkmm-plplot/stamp-h2
gtkmm-plplot/gtkmm-plplotconfig.h
gtkmm-plplot/.libs
