div.image img[src="test1.png"]{
    width:600px;
}
div.image img[src="test2.png"]{
    width:600px;
}
div.image img[src="test3.png"]{
    width:600px;
}
div.image img[src="test4.png"]{
    width:600px;
}
div.image img[src="test5.png"]{
    width:600px;
}
div.image img[src="test6.png"]{
    width:600px;
}
div.image img[src="test7.png"]{
    width:600px;
}
div.image img[src="test8.png"]{
    width:600px;
}
div.image img[src="test9.png"]{
    width:600px;
}
div.image img[src="test10.png"]{
    width:600px;
}
div.image img[src="test11.png"]{
    width:600px;
}
div.image img[src="test12.png"]{
    width:600px;
}
