div.image img[src="test1.png"]{
    width:600px;
}
div.image img[src="test2.png"]{
    width:600px;
}
div.image img[src="test3.png"]{
    width:600px;
}
div.image img[src="test4.png"]{
    width:600px;
}
div.image img[src="test5.png"]{
    width:600px;
}
div.image img[src="test6.png"]{
    width:600px;
}
